html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: wheat;
}

#scorebar {
  background-color: white;
  margin: 2rem auto;
  padding: 10px;
  width: 16em;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(54, 74, 68, 0.4);
  border-radius: 20px;
  font-size: 1.2em;
}

button {
  display: block;
  margin: 0 auto;
  width: 50%;
  outline: none;
  height: 240px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 10px 10px 20px rgba(54, 74, 68, 0.4);
  font-size: 30px;
}

h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
}
